/* client/src/components/AboutMe.css */
.about {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  background: #000000;
}
.profile-image img {
  margin-top: 6rem;
  width: 250px;
  border-radius: 10px;
}
.profile-info {
  flex: 1;
}
.profile-info h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.profile-info p {
  font-size: 1.1rem;
}
.profile-info ul {
  list-style: none;
  padding: 0;
}
.profile-info li {
  margin-bottom: 0.5rem;
}
.tags span {
  background: #0b4053;
  border-radius: 20px;
  padding: 0.4rem 1rem;
  margin-right: 0.5rem;
  font-size: 0.9rem;
}
